# Strings to DateTimes

Time to begin your DateTime journey! You'll start by using the .strptime() method from the datetime object as shown in the video, passing it both the string and the format. A full list of the format string components is available in the Python documentation.

1. Import the datetime object from datetime.
2. Iterate over the dates_list, using date_str as your iterator variable.
3. Convert each date_str into a datetime object called date_dt using the datetime.strptime() function, with '%m/%d/%Y' as your format.
4. Print each date_dt.

In [1]:
dates_list = ['02/19/2001', '04/10/2001', '05/30/2001', '07/19/2001', '09/07/2001', '10/27/2001', '12/16/2001', '02/04/2002', '03/26/2002', '05/15/2002', '07/04/2002', '08/23/2002', '10/12/2002', '12/01/2002', '01/20/2003', '03/11/2003', '04/30/2003', '06/19/2003', '08/08/2003', '09/27/2003', '11/16/2003', '01/05/2004', '02/24/2004', '04/14/2004', '06/03/2004', '07/23/2004', '09/11/2004', '10/31/2004', '12/20/2004', '02/08/2005', '03/30/2005', '05/19/2005', '07/08/2005', '08/27/2005', '10/16/2005', '12/05/2005', '01/24/2006', '03/15/2006', '05/04/2006', '06/23/2006', '08/12/2006', '10/01/2006', '11/20/2006', '01/09/2007', '02/28/2007', '04/19/2007', '06/08/2007', '07/28/2007', '09/16/2007', '11/05/2007', '12/25/2007', '02/13/2008', '04/03/2008', '05/23/2008', '07/12/2008', '08/31/2008', '10/20/2008', '12/09/2008', '01/28/2009', '03/19/2009', '05/08/2009', '06/27/2009', '08/16/2009', '10/05/2009', '11/24/2009', '01/13/2010', '03/04/2010', '04/23/2010', '06/12/2010', '08/01/2010', '09/20/2010', '11/09/2010', '12/29/2010', '02/17/2011', '04/08/2011', '05/28/2011', '07/17/2011', '09/05/2011', '10/24/2011', '11/12/2011', '01/01/2012', '02/20/2012', '04/10/2012', '05/30/2012', '07/19/2012', '09/07/2012', '10/27/2012', '12/16/2012', '02/04/2013', '03/26/2013', '05/15/2013', '07/04/2013', '08/23/2013', '10/12/2013', '12/01/2013', '01/20/2014', '03/11/2014', '04/30/2014', '06/19/2014', '08/08/2014', '09/27/2014', '11/16/2014', '07/05/2014', '01/24/2015', '03/15/2015', '05/04/2015', '06/23/2015', '08/12/2015', '10/01/2015', '11/20/2015', '01/09/2016', '02/28/2016', '04/18/2016', '06/07/2016', '07/27/2016', '09/15/2016', '11/04/2016']

In [2]:
# Import the datetime object from datetime
from datetime import datetime

# Iterate over the dates_list 
for date_str in dates_list:
    # Convert each date to a datetime object: date_dt
    date_dt = datetime.strptime(date_str, '%m/%d/%Y')
    
    # Print each date_dt
    print(date_dt)

2001-02-19 00:00:00
2001-04-10 00:00:00
2001-05-30 00:00:00
2001-07-19 00:00:00
2001-09-07 00:00:00
2001-10-27 00:00:00
2001-12-16 00:00:00
2002-02-04 00:00:00
2002-03-26 00:00:00
2002-05-15 00:00:00
2002-07-04 00:00:00
2002-08-23 00:00:00
2002-10-12 00:00:00
2002-12-01 00:00:00
2003-01-20 00:00:00
2003-03-11 00:00:00
2003-04-30 00:00:00
2003-06-19 00:00:00
2003-08-08 00:00:00
2003-09-27 00:00:00
2003-11-16 00:00:00
2004-01-05 00:00:00
2004-02-24 00:00:00
2004-04-14 00:00:00
2004-06-03 00:00:00
2004-07-23 00:00:00
2004-09-11 00:00:00
2004-10-31 00:00:00
2004-12-20 00:00:00
2005-02-08 00:00:00
2005-03-30 00:00:00
2005-05-19 00:00:00
2005-07-08 00:00:00
2005-08-27 00:00:00
2005-10-16 00:00:00
2005-12-05 00:00:00
2006-01-24 00:00:00
2006-03-15 00:00:00
2006-05-04 00:00:00
2006-06-23 00:00:00
2006-08-12 00:00:00
2006-10-01 00:00:00
2006-11-20 00:00:00
2007-01-09 00:00:00
2007-02-28 00:00:00
2007-04-19 00:00:00
2007-06-08 00:00:00
2007-07-28 00:00:00
2007-09-16 00:00:00
2007-11-05 00:00:00
2007-12-25 00:00:00
2008-02-13 00:00:00
2008-04-03 00:00:00
2008-05-23 00:00:00
2008-07-12 00:00:00
2008-08-31 00:00:00
2008-10-20 00:00:00
2008-12-09 00:00:00
2009-01-28 00:00:00
2009-03-19 00:00:00
2009-05-08 00:00:00
2009-06-27 00:00:00
2009-08-16 00:00:00
2009-10-05 00:00:00
2009-11-24 00:00:00
2010-01-13 00:00:00
2010-03-04 00:00:00
2010-04-23 00:00:00
2010-06-12 00:00:00
2010-08-01 00:00:00
2010-09-20 00:00:00
2010-11-09 00:00:00
2010-12-29 00:00:00
2011-02-17 00:00:00
2011-04-08 00:00:00
2011-05-28 00:00:00
2011-07-17 00:00:00
2011-09-05 00:00:00
2011-10-24 00:00:00
2011-11-12 00:00:00
2012-01-01 00:00:00
2012-02-20 00:00:00
2012-04-10 00:00:00
2012-05-30 00:00:00
2012-07-19 00:00:00
2012-09-07 00:00:00
2012-10-27 00:00:00
2012-12-16 00:00:00
2013-02-04 00:00:00
2013-03-26 00:00:00
2013-05-15 00:00:00
2013-07-04 00:00:00
2013-08-23 00:00:00
2013-10-12 00:00:00
2013-12-01 00:00:00
2014-01-20 00:00:00
2014-03-11 00:00:00
2014-04-30 00:00:00
2014-06-19 00:00:00
2014-08-08 00:00:00
2014-09-27 00:00:00
2014-11-16 00:00:00
2014-07-05 00:00:00
2015-01-24 00:00:00
2015-03-15 00:00:00
2015-05-04 00:00:00
2015-06-23 00:00:00
2015-08-12 00:00:00
2015-10-01 00:00:00
2015-11-20 00:00:00
2016-01-09 00:00:00
2016-02-28 00:00:00
2016-04-18 00:00:00
2016-06-07 00:00:00
2016-07-27 00:00:00
2016-09-15 00:00:00
2016-11-04 00:00:00

# Converting to a String

Converting from a datetime object to a string is done with the .strftime() method on a instance of the datetime object. You pass a format string just like the ones used in the prior exercise.

There is also a widely used string output standard called ISO-8601. It has a shortcut method named .isoformat(). I encourage you to use it anytime you write out to a file.

All the datetimes you created for the transit data in the prior exercise are saved in the datetimes_list.

1. Loop over the first 10 items of the datetimes_list, using item as your iterator variable.
2. Print out the item as a string in the format of 'MM/DD/YYYY'. For this, the format string is '%m/%d/%Y'.
3. Print out the item as an ISO standard string.

In [5]:
# Loop over the first 10 items of the datetimes_list
for item in datetimes_list[:10]:
    # Print out the record as a string in the format of 'MM/DD/YYYY'
    print(item.strftime('%m/%d/%Y'))
    
    # Print out the record as an ISO standard string
    print(item.isoformat())

NameError: name 'datetimes_list' is not defined

# Pieces of Time

When working with datetime objects, you'll often want to group them by some component of the datetime such as the month, year, day, etc. Each of these are available as attributes on an instance of a datetime object.

You're going to work with the summary of the CTA's daily ridership. It contains the following columns, in order: service_date, day_type, bus, rail_boardings, and total_rides. The modules defaultdict and datetime have already been imported for you.

1. Create a defaultdict of an integer called monthly_total_rides.
2. Loop over the list daily_summaries, which contains the columns mentioned above in the assignment text.
3. Convert the service_date (1st element of daily_summary) to a datetime object called service_datetime. Use '%m/%d/%Y' as your format string.Use the month of the service_datetime as the dict key and add the total_rides (5th element of daily_summary) to the current amount for the month. Be sure to convert this into an integer.
4. Print monthly_total_rides.

In [6]:
import numpy as np
import pandas as pd


cta_daily_summary = r'F:\Data Analysis\Springboard\Data Science Career Track\3.Data Types for Data Science in Python\Datasets\cta_daily_summary_totals.csv'

daily_summaries = pd.read_csv(cta_daily_summary, index_col = 0)
daily_summaries

             day_type     bus  rail_boardings  total_rides
service_date
01/01/2001          U  297192          126455       423647
01/02/2001          W  780827          501952      1282779
01/03/2001          W  824923          536432      1361355
01/04/2001          W  870021          550011      1420032
01/05/2001          W  890426          557917      1448343
...               ...     ...             ...          ...
12/27/2013          W  659876          531774      1191650
12/28/2013          A  506219          405004       911223
12/29/2013          U  335610          292169       627779
12/30/2013          W  604796          537971      1142767
12/31/2013          W  595963          565346       116130

[4779 rows x 4 columns]

In [7]:
# Create a defaultdict of an integer: monthly_total_rides
monthly_total_rides = defaultdict(int)

# Loop over the list daily_summaries
for daily_summary in daily_summaries:
    # Convert the service_date to a datetime object
    service_datetime = datetime.strptime(daily_summary[0], '%m/%d/%Y')

    # Add the total rides to the current amount for the month
    monthly_total_rides[service_datetime.month] += int(daily_summary[4])
    
# Print monthly_total_rides
print(monthly_total_rides)

NameError: name 'defaultdict' is not defined

# Creating DateTime Objects... Now

Often when working with datetime objects, you'll want to work on windows or ranges that start from the current date and time. You can do this using the datetime now functions. There is a .now() method on the datetime object in the datetime module and a .utcnow() method. The .now() method returns the current local time on the machine on which it is run, and .utcnow() does the same thing but returns the value in UTC time. You'll need to be very familiar with these methods.

No dataset is used in this exercise, but bear with us as you'll need to do this often to compare year/month-to-date etc.

1. Import datetime from the datetime module.
2. Store the local datetime as local_dt and print it.
3. Store the UTC datetime as utc_dt and print it.

In [8]:
# Import datetime from the datetime module
from datetime import datetime

# Compute the local datetime: local_dt
local_dt = datetime.now()

# Print the local datetime
print(local_dt)

# Compute the UTC datetime: utc_dt
utc_dt = datetime.utcnow()

# Print the UTC datetime
print(utc_dt)

2020-05-02 06:51:20.902058
2020-05-02 10:51:20.902058

# Timezones

In order to work effectively with other timezones, you can use the pytz library. To use timezones, you need to import the timezone object from the pytz module. Then you can use the timezone constructor and pass it a name of a timezone, such as CT = timezone('US/Central'). You can get a full list of timezone names at Wikipedia. In Python 3, you can make a datetime object "aware" by passing a timezone as the tzinfo keyword argument to the .replace() method on a datetime instance.

An "aware" datetime object has an .astimezone() method that accepts a timezone object and returns a new datetime object in the desired timezone. If the tzinfo is not set for the datetime object it assumes the timezone of the computer you are working on.

A list, daily_summaries, has been supplied for you it contains the datetime and rail ridership for trains going to New York. You need to determine the time in New York so you can align it with the New York Transit Authority data.

1. Create a Timezone object for Chicago ('US/Central') called chicago_usa_tz.
2. Create a Timezone object for New York ('US/Eastern') called ny_usa_tz.
3. Iterate over the daily_summaries, unpacking it into the variables orig_dt and ridership.
4. Make the orig_dt timezone "aware" for Chicago, using chicago_usa_tz. Store the result in chicago_dt.
5. Convert chicago_dt to the New York timezone, ny_dt.
6. Print the chicago_dt, ny_dt, and ridership.

In [10]:
from pytz import timezone

# Create a Timezone object for Chicago
chicago_usa_tz = timezone('US/Central')

# Create a Timezone object for New York
ny_usa_tz = timezone('US/Eastern')

# Iterate over the daily_summaries list
for orig_dt, ridership in daily_summaries:

    # Make the orig_dt timezone "aware" for Chicago
    chicago_dt = orig_dt.replace(tzinfo=chicago_usa_tz)
    
    # Convert chicago_dt to the New York Timezone
    ny_dt = chicago_dt.astimezone(ny_usa_tz)
    
    # Print the chicago_dt, ny_dt, and ridership
    print('Chicago: %s, NY: %s, Ridership: %s' % (chicago_dt, ny_dt, ridership))

ValueError: too many values to unpack (expected 2)

# Time Travel (Adding and Subtracting Time)

# Finding a time in the future and from the past

Another common case when working with times is to get a date 30, 60, or 90 days in the past from some date. In Python, the timedelta object from the datetime module is used to represent differences in datetime objects. You can create a timedelta by passing any number of keyword arguments such as days, seconds, microseconds, milliseconds, minutes, hours, and weeks to timedelta().

Once you have a timedelta object, you can add or subtract it from a datetime object to get a datetime object relative to the original datetime object.

A dictionary, daily_summaries, has been supplied for you. It contains the datetime as the key with a dict as the value that has 'day_type' and 'total_ridership' keys. A list of datetimes to review called review_dates is also available.

1. Import timedelta from the datetime module.
2. Build a timedelta of 30 days called glanceback using timedelta().
3. Iterate over the review_dates, using date as your iterator variable.
4. Calculate the date 30 days back by subtracting glanceback from date.
5. Print the date, along with 'day_type' and 'total_ridership' from daily_summaries for that date.
6. Print the prior_period_dt, along with 'day_type' and 'total_ridership' from daily_summaries for that date (prior_period_dt).

In [11]:
# Import timedelta from the datetime module
from datetime import timedelta

# Build a timedelta of 30 days: glanceback
glanceback = timedelta(days=30)

# Iterate over the review_dates as date
for date in review_dates:
    # Calculate the date 30 days back: prior_period_dt
    prior_period_dt = date - glanceback
    
    # Print the review_date, day_type and total_ridership
    print('Date: %s, Type: %s, Total Ridership: %s' %
         (date, 
          daily_summaries[date]['day_type'], 
          daily_summaries[date]['total_ridership']))

    # Print the prior_period_dt, day_type and total_ridership
    print('Date: %s, Type: %s, Total Ridership: %s' %
         (prior_period_dt, 
          daily_summaries[prior_period_dt]['day_type'], 
          daily_summaries[prior_period_dt]['total_ridership']))

NameError: name 'review_dates' is not defined

# Finding differences in DateTimes

Just like you were able to subtract a timedelta from a datetime to find a date in the past, you can also calculate the difference between two dates to get the timedelta between in return. Here, you'll find out how much time has elapsed between two transit dates.

A list of tuples called date_ranges is provided for you. We took the dates from our dataset at every 30th record, and we paired up the records into tuples in a stepwise fashion.

1. Iterate over date_ranges, unpacking it into start_date and end_date.
2. Print the end_date and start_date using the same print() function.
3. Print the difference between each end_date and start_date.

In [12]:
# Iterate over the date_ranges
for start_date, end_date in date_ranges:
    # Print the End and Start Date
    print(end_date, start_date)
    # Print the difference between each end and start date
    print(end_date - start_date)

NameError: name 'date_ranges' is not defined

# HELP! Libraries to make it easier

In [23]:
#Install Pendulum package
pip install pendulum

SyntaxError: invalid syntax (<ipython-input-23-ade35714d904>, line 2)

In [24]:
# Import the pendulum module
import pendulum

# Create a now datetime for Tokyo: tokyo_dt
tokyo_dt = pendulum.now('Asia/Tokyo')

# Covert the tokyo_dt to Los Angeles: la_dt
la_dt = tokyo_dt.in_timezone('America/Los_Angeles')

# Print the ISO 8601 string of la_dt
print(la_dt.to_iso8601_string())

ModuleNotFoundError: No module named 'pendulum'

# Humanizing Differences with Pendulum

Pendulum provides a powerful way to convert strings to pendulum datetime objects via the .parse() method. Just pass it a date string and it will attempt to convert into a valid pendulum datetime. By default, .parse() can process dates in ISO 8601 format. To allow it to parse other date formats, pass strict = False.

It also has a wonderful alternative to timedelta. When calculating the difference between two dates by subtraction, pendulum provides methods such as .in_days() to output the difference in a chosen metric. These are just the beginning of what pendulum can do for you.

A list of tuples called date_ranges is provided for you. This is the same list of tuples that contain two dates that was used a few exercises prior. You'll be focusing on comparing ranges of records.

You can learn more in the pendulum documentation. Here, it has been imported for you.

1. Iterate over the date_ranges list, unpacking it into start_date and end_date. These dates are not in ISO 8601 format.
2. Use pendulum to convert the start_date string to a pendulum date called start_dt.
3. Use pendulum to convert the end_date string to pendulum date called end_dt.
4. Calculate the difference between end_dt and start_dt. Store the result as diff_period.
5. Print the difference in days, using the .in_days() method.

In [25]:
# Iterate over date_ranges
for start_date, end_date in date_ranges:

    # Convert the start_date string to a pendulum date: start_dt 
    start_dt = pendulum.parse(start_date, strict = False)
    
    # Convert the end_date string to a pendulum date: end_dt 
    end_dt = pendulum.parse(end_date, strict = False)
    
    # Print the End and Start Date
    print(end_dt, start_dt)
    
    # Calculate the difference between end_dt and start_dt: diff_period
    diff_period = end_dt - start_dt
    
    # Print the difference in days
    print(diff_period.in_days())

NameError: name 'date_ranges' is not defined