# Create dictionary
You are given two list. Use that to create a dictionary

In [2]:
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# From string in countries and capitals, create dictionary europe
europe = {'spain':'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo'}
europe

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo'}

# Access dictionary
If the keys of a dictionary are chosen wisely, accessing the values in a dictionary is easy and intuitive.

In [4]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Print out the keys in europe
print(europe.keys())

# Print out value that belongs to key 'norway'
print(europe['norway'])

dict_keys(['spain', 'france', 'germany', 'norway'])
oslo

# Dictionary Manipulation (1)
If you know how to access a dictionary, you can also assign a new value to it. To add a new key-value pair to europe you can use something like this:

1. Add the key 'italy' with the value 'rome' to europe.To assert that 'italy' is now a key in europe, print out 'italy' in europe.
2. Add another key:value pair to europe: 'poland' is the key, 'warsaw' is the corresponding value.

In [5]:
# Add italy to europe
europe['italy'] = 'rome'

# Print out italy in europe
print(europe['italy'])

# Add poland to europe
europe['poland'] = 'warsaw'

# Print europe
print(europe)

rome
{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

In [6]:
#print out italy in europe to return a boolean(true/false)
'italy' in europe

True

# Dictionary Manipulation (2)
Updating dictionary values

In [7]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw',
          'australia':'vienna' }

# Update capital of germany
europe['germany'] = 'berlin'

# Remove australia
del(europe['australia'])

# Print europe
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

# Dictionariception (Dictionaries in a Dictionary)
Remember lists? They could contain anything, even other lists. Well, for dictionaries the same holds. Dictionaries can contain key:value pairs where the values are again dictionaries.

1. Use chained square brackets to select and print out the capital of France.
2. Create a dictionary, named data, with the keys 'capital' and 'population'. Set them to 'rome' and 59.83, respectively.
3. Add a new key-value pair to europe; the key is 'italy' and the value is data, the dictionary you just built.

In [8]:
# Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }


# Print out the capital of France
print(europe['france']['capital'])

# Create sub-dictionary data
data = {'capital': 'rome', 'population': 59.83}

# Add data to europe under key 'italy'
europe['italy'] = data

# Print europe
print(europe)

paris
{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'italy': {'capital': 'rome', 'population': 59.83}}

# Pandas, Part 1

# Dictionary to DataFrame (1)
The DataFrame is one of Pandas' most important data structures. It's basically a way to store tabular data where you can label the rows and the columns. One way to build a DataFrame is from a dictionary.

1. Import pandas as pd.
2. Use the pre-defined lists to create a dictionary called my_dict. There should be three key value pairs:
  a. key 'country' and value names.
  b. key 'drives_right' and value dr.
  c. key 'cars_per_cap' and value cpc.
3. Use pd.DataFrame() to turn your dict into a DataFrame called cars.
4. Print out cars and see how beautiful it is.

In [9]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd

# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = { 'country': ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt'], 
            'drives_right': [True, False, False, False, True, True, True],
            'cars_per_cap': [809, 731, 588, 18, 200, 70, 45]}

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

# Print cars
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

# Dictionary to DataFrame (2)
The Python code that solves the previous exercise is included on the right. Have you noticed that the row labels (i.e. the labels for the different observations) were automatically set to integers from 0 up to 6?

To solve this a list row_labels has been created. You can use it to specify the row labels of the cars DataFrame. You do this by setting the index attribute of cars, that you can access as cars.index.

1. Specify the row labels by setting cars.index equal to row_labels.
2. Print out cars again and check if the row labels are correct this time.

In [12]:
# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index = row_labels

# Print cars again
print(cars)

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

# CSV to DataFrame (1)
Putting data in a dictionary and then building a DataFrame works, but it's not very efficient. What if you're dealing with millions of observations? In those cases, the data is typically available as files with a regular structure. One of those file types is the CSV file, which is short for "comma-separated values".

To import CSV data into Python as a Pandas DataFrame you can use read_csv()

In [14]:
import pandas as pd

Cars = r'F:\Data Analysis\Springboard\Data Science Career Track\2.Intermediate Python for Data Science\DataSets\cars.csv'

cars = pd.read_csv(Cars)
cars

  Unnamed: 0  cars_per_cap        country  drives_right
0         US           809  United States          True
1        AUS           731      Australia         False
2        JAP           588          Japan         False
3         IN            18          India         False
4         RU           200         Russia          True
5        MOR            70        Morocco          True
6         EG            45          Egypt          True

# CSV to DataFrame (2)
Remember index_col, an argument of read_csv(), that you can use to specify which column in the CSV file should be used as a row label?

1. Specify the index_col argument inside pd.read_csv(): set it to 0, so that the first column is used as row labels.
2. Has the printout of cars improved now?

In [15]:
# Fix data importation by including index_col

Cars = r'F:\Data Analysis\Springboard\Data Science Career Track\2.Intermediate Python for Data Science\DataSets\cars.csv'

cars = pd.read_csv(Cars, index_col = 0)
cars

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

# Pandas, Part 2

# Indexing and selecting Pandas: loc and iloc (1)
With loc and iloc you can do practically any data selection operation on DataFrames you can think of. loc is label-based, which means that you have to specify rows and columns based on their row and column labels. iloc is integer index based, so you have to specify rows and columns by their integer index like you did in the previous exercise.

1. Use loc or iloc to select the observation corresponding to Japan as a Series. The label of this row is JPN, the index is 2. Make sure to print the resulting Series.
2. Use loc or iloc to select the observations for Australia and Egypt as a DataFrame.

In [17]:
# Print out observation for Japan: loc and iloc produces the same results
print(cars.loc['JAP'])
print(cars.iloc[2])

# Print out observations for Australia and Egypt: loc and iloc produces the same results
print(cars.loc[['AUS', 'EG']])
print(cars.iloc[[1, 6]])

cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object
cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object
     cars_per_cap    country  drives_right
AUS           731  Australia         False
EG             45      Egypt          True
     cars_per_cap    country  drives_right
AUS           731  Australia         False
EG             45      Egypt          True

# loc and iloc (2)

1. Print out the drives_right value of the row corresponding to Morocco (its row label is MOR)
2. Print out a sub-DataFrame, containing the observations for Russia and Morocco and the columns country and drives_right.

In [18]:
# Print out drives_right value of Morocco: loc or iloc will yield the same results
print(cars.loc['MOR', 'drives_right'])
print(cars.iloc[5,2])

# Print sub-DataFrame: loc or iloc will yeild the same results 
print(cars.loc[['RU', 'MOR'], ['country', 'drives_right']])
print(cars.iloc[[4, 5], [1,2]])

True
True
     country  drives_right
RU    Russia          True
MOR  Morocco          True
     country  drives_right
RU    Russia          True
MOR  Morocco          True

# loc and iloc (3)
1. Print out the drives_right column as a DataFrame using loc or iloc.
2. Print out both the cars_per_cap and drives_right column as a DataFrame using loc or iloc.

In [19]:
# Print out drives_right column as DataFrame: loc or iloc yields same results
print(cars.loc[:, ['drives_right']])
print(cars.iloc[:, [2]])

# Print out cars_per_cap and drives_right as DataFrame: loc or iloc yields same results
print(cars.loc[:, ['cars_per_cap', 'drives_right']])
print(cars.iloc[:, [0,2]])

     drives_right
US           True
AUS         False
JAP         False
IN          False
RU           True
MOR          True
EG           True
     drives_right
US           True
AUS         False
JAP         False
IN          False
RU           True
MOR          True
EG           True
     cars_per_cap  drives_right
US            809          True
AUS           731         False
JAP           588         False
IN             18         False
RU            200          True
MOR            70          True
EG             45          True
     cars_per_cap  drives_right
US            809          True
AUS           731         False
JAP           588         False
IN             18         False
RU            200          True
MOR            70          True
EG             45          True