# Comparison Operators

# Equality
1. write code to see if True equals False.
2. Write code to check if -5 * 15 is not equal to 75.
3. Ask Python whether the strings "pyscript" and "PyScript" are equal.
4. What happens if you compare booleans and integers? Write code to see if True and 1 are equal.

In [1]:
# Comparison of booleans
True == False

False

In [2]:
# Comparison of integers
-5 * 15 != 75

True

In [3]:
# Comparison of strings
'pyscript' == 'PyScript'

False

In [4]:
# Compare a boolean with an integer
True == 1

True

# Greater and less than
In the video, Filip also talked about the less than and greater than signs, < and > in Python. You can combine them with an equals sign: <= and >=. Pay attention: <= is valid syntax, but =< is not.

1. Write Python expressions, wrapped in a print() function, to check whether:
x is greater than or equal to -10. x has already been defined for you.
2. "test" is less than or equal to y. y has already been defined for you.
3. True is greater than False

In [5]:
# Comparison of integers
x = -3 * 6
x >= -10

False

In [6]:
# Comparison of strings
y = "test"
"test" <= y

True

In [7]:
True > False

True

# Compare arrays
Out of the box, you can also use comparison operators with Numpy arrays.

1. Which areas in my_house are greater than or equal to 18?
2. You can also compare two Numpy arrays element-wise. Which areas in my_house are smaller than the ones in your_house?

In [8]:
# Create arrays
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

# my_house greater than or equal to 18
print(my_house >= 18)

# my_house less than your_house
print(my_house < your_house)

[ True  True False False]
[False  True  True False]

# Boolean Operators

# and, or, not (1)
A boolean is either 1 or 0, True or False. With boolean operators such as and, or and not, you can combine these booleans to perform more advanced queries on your data.

1. my_kitchen is bigger than 10 and smaller than 18.
2. my_kitchen is smaller than 14 or bigger than 17.
3. double the area of my_kitchen is smaller than triple the area of your_kitchen.

In [9]:
# Define variables
my_kitchen = 18.0
your_kitchen = 14.0

# my_kitchen bigger than 10 and smaller than 18?
my_kitchen > 10 and my_kitchen < 18

False

In [10]:
# my_kitchen smaller than 14 or bigger than 17?
my_kitchen < 14 or my_kitchen > 17

True

In [11]:
# Double my_kitchen smaller than triple your_kitchen?
my_kitchen * 2 < your_kitchen * 3

True

# Boolean operators with Numpy
Before, the operational operators like < and >= worked with Numpy arrays out of the box. Unfortunately, this is not true for the boolean operators and, or, and not.

Generate boolean arrays that answer the following questions:
1. Which areas in my_house are greater than 18.5 or smaller than 10?
2. which areas are smaller than 11 in both my_house and your_house

In [12]:
# Create arrays
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

# my_house greater than 18.5 or smaller than 10
print(np.logical_or(my_house > 18.5, my_house < 10))

# Both my_house and your_house smaller than 11
print(np.logical_and(my_house < 11, your_house < 11))

[False  True False  True]
[False False False  True]

# if, elif, else

In [13]:
area = 10.0
if(area < 9):
    print("small")
elif(area < 12):
    print("medium")
else:
    print("large")

medium

In [14]:
#checking for evening number
z = 6
if z % 2 == 0:
    print('z is even number')
else:
    print('z is odd number')

z is even number

# If
1. Examine the if statement that prints out "Looking around in the kitchen." if room equals "kit".
2. Write another if statement that prints out "big place!" if area is greater than 15.

In [15]:
# Define variables
room = "kit"
area = 14.0

# if statement for room
if room == "kit" :
    print("looking around in the kitchen.")

looking around in the kitchen.

In [16]:
# if statement for area
if area > 15:
    print("big place!") #note since area is less than 15, no output will be printed out.

# Add else
Add an else statement to the second control structure so that "pretty small." is printed out if area > 15 evaluates to False.

In [17]:
# if statement for area
if area > 15:
    print("big place!")
else:
    print("pretty small.")

pretty small.

# Add elif
Add an elif to the second control structure such that "medium size, nice!" is printed out if area is greater than 10.

In [18]:
# if-elif-else construct for area
if area > 15:
    print("big place!")
elif area > 10:
    print("medium size, nice!")
else:
    print("pretty small.")

medium size, nice!

# Filtering pandas DataFrames

# Filtering "Driving right"
1. Extract the drives_right column as a Pandas Series and store it as dr.
2. Use dr, a boolean Series, to subset the cars DataFrame. Store the resulting selection in sel.
3. Print sel, and assert that drives_right is True for all observations.

In [19]:
import pandas as pd

Cars = r'F:\Data Analysis\Springboard\Data Science Career Track\2.Intermediate Python for Data Science\DataSets\cars.csv'

cars = pd.read_csv(Cars, index_col = 0)
cars

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [20]:
# Extract drives_right column as Series: dr
dr = cars["drives_right"]

# Use dr to subset cars: sel
sel = cars[dr]

# Print sel
print(sel)

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

OR, you can run this with a one line code below:
The code in the previous example worked fine, but you actually unnecessarily created a new variable dr. You can achieve the same result without this intermediate variable. Put the code that computes dr straight into the square brackets that select observations from cars.

In [21]:
# Convert code to a one-liner
sel = cars[cars['drives_right']]

# Print sel
print(sel)

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

# Cars per capita
Let's stick to the cars data some more. This time you want to find out which countries have a high cars per capita figure. In other words, in which countries do many people have a car, or maybe multiple cars.

In [22]:
# Create car_maniac (cpc): observations that have a cars_per_cap over 500
cpc = cars[cars['cars_per_cap'] > 500]


# Print car_maniac
print(cpc)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

In [23]:
# Import numpy, you'll need this
import numpy as np

# Create medium: observations with cars_per_cap between 100 and 500
cpc = cars['cars_per_cap']
between = np.logical_and(cpc > 100, cpc < 500)
medium = cars[between]

# Print medium
print(medium)

    cars_per_cap country  drives_right
RU           200  Russia          True

OR we could have written it in a single code as below:

In [24]:
# Create medium: observations with cars_per_cap between 100 and 500
medium = cars[np.logical_and(cars['cars_per_cap'] > 100, cars['cars_per_cap'] < 500)]

# Print medium
print(medium)

    cars_per_cap country  drives_right
RU           200  Russia          True