## Python statistics essential training - 03_02_distributions

Standard imports

In [1]:
import numpy as np
import scipy.stats
import pandas as pd

In [2]:
import matplotlib
import matplotlib.pyplot as pp

from IPython import display
from ipywidgets import interact, widgets

%matplotlib inline

In [3]:
import re
import mailbox
import csv

**Loading the data files**

In [6]:
China_1965 = r'F:\Data Analysis\Springboard\Data Science Career Track\16. LinkedIn Learning\Exercise Files\chapter3\03_02\income-1965-china.csv'

china1965 = pd.read_csv(China_1965)
china1965.head()

     income  log10_income
0  1.026259      0.011257
1  0.912053     -0.039980
2  0.110699     -0.955857
3  0.469659     -0.328217
4  0.374626     -0.426402

In [7]:
China_2015 = r'F:\Data Analysis\Springboard\Data Science Career Track\16. LinkedIn Learning\Exercise Files\chapter3\03_02\income-2015-china.csv'

china2015 = pd.read_csv(China_2015)
china2015.head()

      income  log10_income
0   4.499303      0.653145
1  13.727408      1.137589
2   7.075421      0.849752
3   4.667088      0.669046
4   6.456985      0.810030

In [8]:

USA_1965 = r'F:\Data Analysis\Springboard\Data Science Career Track\16. LinkedIn Learning\Exercise Files\chapter3\03_02\income-1965-usa.csv'

usa1965 = pd.read_csv(USA_1965)
usa1965.head()

      income  log10_income
0  21.363833      1.329679
1  30.604093      1.485780
2  50.373886      1.702205
3  59.968851      1.777926
4  21.271346      1.327795

In [9]:
USA_2015 = r'F:\Data Analysis\Springboard\Data Science Career Track\16. LinkedIn Learning\Exercise Files\chapter3\03_02\income-2015-usa.csv'

usa2015 = pd.read_csv(USA_2015)
usa2015.head()

      income  log10_income
0  72.550746      1.860642
1  47.333869      1.675172
2  65.866942      1.818668
3  93.093078      1.968917
4  15.194904      1.181698

In [10]:
#info
usa2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   income        1000 non-null   float64
 1   log10_income  1000 non-null   float64
dtypes: float64(2)
memory usage: 15.8 KB

In [12]:
#data type
usa2015.dtypes

income          float64
log10_income    float64
dtype: object

In [13]:
#minimum
usa2015.min()

income          4.883807
log10_income    0.688758
dtype: float64

In [14]:
#maximum
usa2015.max()

income          701.518769
log10_income      2.846039
dtype: float64

In [15]:
#Average
usa2015.mean()

income          60.710697
log10_income     1.667228
dtype: float64

In [16]:
#Measure of variation (variance)
usa2015.var(ddof=0)

income          2877.041471
log10_income       0.098565
dtype: float64

In [17]:
#Quantiles
usa2015.quantile([0.25,0.50, 0.75])

         income  log10_income
0.25  29.510151      1.469966
0.50  46.189312      1.664541
0.75  73.009663      1.863380

In [18]:
#50th percentile is also known as median
usa2015.median()

income          46.189312
log10_income     1.664541
dtype: float64

In [19]:
#inverse of the quantiles
scipy.stats.percentileofscore(usa2015.income,1.5)

0.0

In [20]:
scipy.stats.percentileofscore(china1965.income,1.5)

95.5

In [21]:
#Summary statistics
usa2015.describe()

            income  log10_income
count  1000.000000   1000.000000
mean     60.710697      1.667228
std      53.664899      0.314107
min       4.883807      0.688758
25%      29.510151      1.469966
50%      46.189312      1.664541
75%      73.009663      1.863380
max     701.518769      2.846039